{% extends 'catalog/home.html' %}
{% load my_ff %}
{% block content %}
<div class="row text-center">
    <div class="col-8">
        <div class="card mb-3 box-shadow d-flex flex-row">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name | title }}</h4>
                <img src="{{ blog.photo | media_filter }}" class="card-img-top img-fluid mb-3"
                     style="width: 50%; height: auto; object-fit: cover;">
                <p>Дата создания: {{ object.created_at }}</p>
                <div class="d-flex justify-content-end mb-0">
                    <p>Кол-во просмотров: {{ object.views_count }}</p>
                </div>
            </div>
        </div>
        <a class="btn btn-outline-primary" href="{% url 'catalog:blog_list' %}" role="button">Вернуться</a>
        <a class="btn btn-outline-primary" href="{% url 'catalog:blog_update' object.slug %}" role="button">Изменить</a>
        <a class="btn btn-outline-primary" href="{% url 'catalog:blog_delete' object.slug %}" role="button">Удалить</a>
    </div>
    <div class="col-4">
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>{{ object.description }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
