{% extends 'catalog/home.html' %}
{% load my_ff %}
{% block content %}
<div class="row text-center">
    <div class="col-8">
        <div class="card mb-4 box-shadow d-flex flex-row">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name | title }}</h4>
                <img src="{{ product.photo | media_filter }}" class="card-img-top img-fluid"
                     style="width: 50%; height: auto; object-fit: cover;">
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-body">
            <h1 class="card-title pricing-card-title">Цена: {{ object.purchase_price }}руб.</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>{{ object.description }}</li>
            </ul>
            <div class="text-end">
                {% if current_version %}
                <p><strong>Активная версия: </strong>{{ current_version.version_name }} ({{ current_version.version_number }})</p>
                {% endif %}
            </div>

            <a class="btn btn-outline-primary" href="{% url 'catalog:product_list' %}" role="button">Вернуться</a>
            {% if perms.catalog.can_cancel_published and perms.catalog.can_edit_description and perms.catalog.can_edit_category or user == catalog.owner %}
            <a class="btn btn-outline-primary" href="{% url 'catalog:product_update' object.pk %}"
               role="button">Изменить</a>
            {% endif %}
            {% if user.is_superuser %}
            <a class="btn btn-outline-primary" href="{% url 'catalog:product_delete' object.pk %}"
               role="button">Удалить</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}