{% extends 'catalog/home.html' %}
{% load my_ff %}
{% block content %}
<div class="row text-center">
    <div class="col-8">
        <div class="card mb-4 box-shadow d-flex flex-row">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name | title }}</h4>
                <img src="{{ product.photo | media_filter }}" class="card-img-top img-fluid"
                     style="width: 50%; height: auto; object-fit: cover;">
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-body">
            <h1 class="card-title pricing-card-title">Цена: {{ object.purchase_price }}руб.</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>{{ object.description }}</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
        </div>
    </div>
</div>
{% endblock %}